<div>
    <mat-toolbar>
        <span>Cargos / <small style="font-size: 16px;">total: {{Total}}</small></span>
        <span class="example-spacer"></span>
        <button (click)="crear_tipoTramite()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <div>
        <mat-form-field class="txt_search" appearance="standard">
            <input [(ngModel)]="termino_busqueda" matInput (keyup)="applyFilter($event)"
                placeholder="Ingrese el nombre del tramite">
            <button *ngIf="termino_busqueda" matSuffix mat-icon-button aria-label="Clear" (click)="limpiar_busqueda()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>




    <app-tabla (eventoPaginacion)="cambiar_paginacion($event)" [dataSource]="dataSource" [total_filas]="Total"
        [displayedColumns]="displayedColumns" [opciones]="opciones" (llamarEditar)="editar_tipo($event)"
        (llamarEliminar)="eliminar_tipo($event)" (llamarHabilitar)="habilitar_tipo($event)"></app-tabla>

    <mat-spinner [diameter]="150" *ngIf="cargando"></mat-spinner>

</div>