<p>
    <mat-toolbar class="example-toolbar">
        <ng-container *ngIf="!tramiteService.modo_busqueda">
            <span>Tramites internos /
                <small style="font-size: 15px;">
                    total: {{Total}}
                </small>
            </span>
            <span class="example-spacer"></span>
            <button (click)="activar_busqueda()" mat-icon-button matTooltip="Buscar tramite"
                class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Registrar tramite" (click)="registrar_tramite_interno()"
                class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>

        <mat-form-field *ngIf="tramiteService.modo_busqueda" floatLabel="never">
            <mat-label>Ingrese el alterno del tramite</mat-label>
            <input [(ngModel)]="tramiteService.termino_busqueda" matInput type="search" #myInput (keyup.enter)="buscar_tramite()">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="desactivar_busqueda()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </mat-toolbar>
</p>
<div [@fadeInOnEnter] class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="enviado">
            <th mat-header-cell *matHeaderCellDef> Enviado </th>
            <td mat-cell *matCellDef="let element">
                {{element.enviado?'SI':"NO"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="alterno">
            <th mat-header-cell *matHeaderCellDef> Alterno </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['ficha',element.id_tramite ]">
                    {{element.alterno}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Tramite </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}}</td>
        </ng-container>


        <ng-container matColumnDef="remitente">
            <th mat-header-cell *matHeaderCellDef> Remitente</th>
            <td mat-cell *matCellDef="let element">{{element.remitente|titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="destinatario">
            <th mat-header-cell *matHeaderCellDef> Destinatario</th>
            <td mat-cell *matCellDef="let element">{{element.destinatario|titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> estado </th>
            <td mat-cell *matCellDef="let element">
                <span class="badge" [ngClass]="[
                element.estado=='Inscrito'?'text-bg-primary':'',
                element.estado=='En revision'?'text-bg-secondary':'',
                element.estado=='Observado'?'text-bg-warning':'',
                element.estado=='Concluido'?'text-bg-dark':'',
                ]">
                    {{element.estado}}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="cite">
            <th mat-header-cell *matHeaderCellDef> Cite</th>
            <td mat-cell *matCellDef="let element">{{element.cite|titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element">{{element.fecha_creacion|date}}</td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Registro</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="editar_tramite(element)" *ngIf="!element.enviado" mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Editar tramite</span>
                    </button>
                    <button (click)="abrir_DialogRemision(element)" *ngIf="!element.enviado" mat-menu-item>
                        <mat-icon>send</mat-icon>
                        <span>Enviar tramite</span>
                    </button>
                    <button (click)="generar_hoja_ruta(element)" mat-menu-item>
                        <mat-icon>summarize</mat-icon>
                        <span>Hoja de ruta</span>
                    </button>
                </mat-menu>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se econtraron registros</td>
        </tr>
        
    </table>
    <mat-paginator *ngIf="!tramiteService.modo_busqueda" [pageIndex]="tramiteService.pageIndex" [length]="Total" [pageSizeOptions]="[10, 25, 35]"
        showFirstLastButtons (page)="cambiar_paginacion($event)">
    </mat-paginator>

</div>