<h2 mat-dialog-title>{{titulo}} tipo de tramite</h2>
<div mat-dialog-content>
    <form [formGroup]="Form_TipoTramite">
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="legacy" style="width: 100%;">
                    <mat-label>Nombre del nuevo tramite</mat-label>
                    <input type="text" matInput formControlName="titulo">
                    <mat-error *ngIf="Form_TipoTramite.controls['titulo'].hasError('required')">Ingrese el titulo
                    </mat-error>
                    <mat-error *ngIf="Form_TipoTramite.controls['titulo'].hasError('pattern')">Solo se permiten letras
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="legacy">
                    <mat-label>Seleccione el segmento</mat-label>
                    <input formControlName="segmento" type="text" matInput [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.segmento">
                            {{option.segmento}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="Form_TipoTramite.controls['segmento'].hasError('required')">seleccione un
                        segmento
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="legacy">
                    <mat-label>Sigla</mat-label>
                    <input matInput formControlName="sigla">
                    <mat-error *ngIf="Form_TipoTramite.controls['sigla'].hasError('required')">Ingrese la sigla
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="titulo=='Registro'">
            <mat-radio-group formControlName="externo" aria-label="Select an option">
                <mat-radio-button [value]="true">EXTERNO</mat-radio-button>
                <mat-radio-button [value]="false">INTERNO</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
    <div class="row" *ngIf="Form_TipoTramite.controls['externo'].value==true">
        <div class="col-8">
            <button (click)="agregar_requisito()" mat-raised-button color="primary" style="width: 100%;">
                <mat-icon>add</mat-icon> Agregar requisito
            </button>
        </div>
        <div class="col-4">
            <mat-slide-toggle [disabled]="titulo == 'Registro'" [(ngModel)]="isChecked"
                (change)="alternar_vista_requerimientos(isChecked)">Requerimientos:
                {{isChecked?'Habilitados':'Eliminados'}}
            </mat-slide-toggle>
        </div>
    </div>
</div>

<mat-progress-bar *ngIf="spinner_carga && titulo == 'Edicion'" mode="indeterminate">
</mat-progress-bar>
<div *ngIf="Requerimientos.length==0 && titulo == 'Edicion' && data.tipo_tramite.externo==false" class="alert alert-warning"
    role="alert">
    No se encontraron requisitos para este tramite
</div>


<!-- Tabla de requisitos -->
<div *ngIf="Form_TipoTramite.controls['externo'].value==true" class="example-table-container">
    <table #tablaRequisitos mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nro">
            <th mat-header-cell *matHeaderCellDef>Nro</th>
            <td mat-cell *matCellDef="let element, let i=index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones</th>
            <td mat-cell *matCellDef="let element, let i=index">
                <div *ngIf="this.titulo == 'Registro'">
                    <button matTooltip="Quitar requisito" (click)="quitar_Requisito(i)" mat-icon-button
                        class="example-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div *ngIf="this.titulo == 'Edicion'">
                    <div *ngIf="isChecked">
                        <button matTooltip="Editar requisito" (click)="editar_Requisito(element)" mat-icon-button
                            class="example-icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button matTooltip="Deshabilitar requisito" (click)="eliminar_Requisito(element)"
                            mat-icon-button class="example-icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="!isChecked">
                        <button matTooltip="Editar requisito" (click)="editar_Requisito(element)" mat-icon-button
                            class="example-icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button matTooltip="Habilitar requisito" (click)="habilitar_Requisito(element)" mat-icon-button
                            class="example-icon">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4" style="color: orangered;">No existen requerimientos</td>
        </tr>
    </table>

</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button (click)="guardar_datos()" color="primary"
        [disabled]="!Form_TipoTramite.valid">Guardar</button>
</div>