<p>
    <mat-toolbar class="example-toolbar">
        <ng-container *ngIf="modo_busqueda==false">
            <span>Bandeja salida</span>
            <span class="example-spacer"></span>
            <button (click)="recargar()" matTooltip="Recargar" mat-icon-button class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <mat-icon>autorenew</mat-icon>
            </button>

            <ng-container *ngIf="Tramites_Emitidos.length>0">
                <button (click)="modo_busqueda=true" matTooltip="Busqueda" mat-icon-button
                    class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>search</mat-icon>
                </button>
            </ng-container>
        </ng-container>

        <mat-form-field *ngIf="modo_busqueda==true" floatLabel="never" style="width: 100%;">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" #txt_busqueda (keyup)="applyFilter($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="txt_busqueda.value=''; desactivar_busqueda()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-toolbar>
</p>




<div class="container-fluid" [@fadeInOnEnter]>
    <div *ngIf="!spiner_carga &&  dataSource.data.length==0" class="alert alert-info position-relative" role="alert">
        <mat-icon>outgoing_mail</mat-icon>
        Usted aun no envio ningun tramite.
    </div>

    <mat-progress-bar *ngIf="spiner_carga" mode="indeterminate"></mat-progress-bar>
    <table *ngIf=" !spiner_carga  &&  dataSource.data.length>0" mat-table [dataSource]="dataSource"
        multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="externo">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.externo" style="color: #3A86FF;">
                    <mat-icon>
                        radio_button_checked
                    </mat-icon>
                    Interno
                </span>
                <span *ngIf="element.externo" style="color: #05668D;">
                    <mat-icon>
                        circle
                    </mat-icon>
                    Externo
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef>Tramite</th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>
        <ng-container matColumnDef="alterno">
            <th mat-header-cell *matHeaderCellDef> Alterno </th>
            <td mat-cell *matCellDef="let element">
                <a style="font-size: 12px;" [routerLink]="['ficha',element.id_tramite ]">{{element.alterno}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="emisor">
            <th mat-header-cell *matHeaderCellDef> Enviado a: </th>
            <td mat-cell *matCellDef="let element">
                <div class="content">
                    <img class="img_user" src="../../../assets/img/user.png">
                    <div class="text">
                        <h4><strong>{{element.funcionario_receptor|titlecase}}</strong></h4>
                        <small>{{element.cargo|uppercase|slice:0:35}}..</small>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="fecha_envio">
            <th mat-header-cell *matHeaderCellDef>Fecha envio</th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_envio|date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="situacion">
            <th mat-header-cell *matHeaderCellDef>Situacion</th>
            <td mat-cell *matCellDef="let element">
                <strong style="color: orange" *ngIf="element.aceptado==null">Enviado</strong>
                <strong style="color: green;" *ngIf="element.aceptado==true">Recibido</strong>
                <strong style="color: red;"
                    *ngIf="element.aceptado==false && element.reenviado==false">Rechazado</strong>
                <strong style="color: cornflowerblue;"
                    *ngIf="element.aceptado==false && element.reenviado==true">Reenviado</strong>
            </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu_opciones" matTooltip="Mostrar opciones">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu_opciones="matMenu" xPosition="before">
                    <button *ngIf="element.aceptado==false && element.reenviado==false" mat-menu-item
                        (click)="reenviar_tramite(element)">
                        <mat-icon>send</mat-icon>
                        <span>Reenviar tramite</span>
                    </button>
                    <button mat-menu-item *ngIf="permisos=='receptionist_role'" (click)="crear_hoja_ruta(element)">
                        <mat-icon>print</mat-icon>
                        Hoja de ruta
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="example-element-description" style="width: 100%;">

                        <p><strong>ENVIADO EL: </strong> {{element.fecha_envio | date:'medium'}}</p>
                        <p><strong>REFERENCIA: </strong> {{element.detalle}}</p>
                        <p *ngIf="element.aceptado==true && element.reenviado==false">
                            <strong>RECIBIDO EL: </strong> {{element.fecha_recibido | date:'medium'}}
                        </p>
                        <div style="color: red;" *ngIf="element.aceptado==false && element.reenviado==false">
                            <p>
                                <strong>RECHAZADO EL: </strong> {{element.fecha_recibido | date:'medium'}}
                            </p>
                            <p>
                                <strong>MOTIVO: </strong>{{element.motivo|uppercase}}
                            </p>
                        </div>

                        <div *ngIf="element.aceptado==null && element.reenviado==false">
                            <p>EL TRAMITE AUN NO FUE RECIBIDO</p>
                        </div>

                        <div *ngIf="element.aceptado==false && element['reenviado']==true">
                            <p>
                                <strong>RECHAZADO EL: </strong> {{element.fecha_recibido | date:'medium'}}
                            </p>
                            <p>
                                <strong>MOTIVO: </strong>{{element.motivo|uppercase}}
                            </p>
                            <p>
                                EL TRAMITE FUE REENVIADO
                            </p>
                        
                        </div>

                    </div>



                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>



</div>